<!DOCTYPE html>
<html lang="en">

<head>
	<title>Eat-Da-Burger</title>
	<link rel="stylesheet" href="assets/css/burgerStyle.css" />
	<script src="assets/js/index.js"></script>
</head>

<body>
	<img src="assets/img/burger.png" alt="Burger" />

	<h1>Eat-Da-Burger!</h1>
	<form action="/api/burgers/" method="POST">
		<input type="text" name="name" placeholder="Enter A Burger">
		<button type="submit" id="orderBtn">ORDER</button>
	</form>
	<p>Create a Burger, then click Submit!</p>
	<div class="container">
		{{{body}}}
	</div>
</body>

</html>